.board-cell {
  width: 25px;
  height: 25px;
  margin: 0.5px;
}

@media screen and (min-width: 768px) {
  .board-cell {
    width: 15px;
    height: 15px;
    margin: 0.5px;
  }
}

.board-cell--snake {
  background-color: #8bbabb;
  border-radius: 1px;
}

.board-cell--food:not(.board-cell--head) {
  border-radius: 50%;
  animation: pulse 0.5s infinite;
}

.board-cell--head {
  background-color: #729899;
}

.board-cell--eating {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #fac89e;
  }
  25% {
    background-color: #c2fc99;
  }
  50% {
    background-color: #92e8d5;
  }
  75% {
    background-color: #ada8ff;
  }
  100% {
    background-color: #fea8bb;
  }
}
