.board-row {
  display: flex;
}

.board-table {
  border: 1px solid #545454;
  background-color: rgba(255, 255, 255, 0.2);
}

.board-table-game-over {
  border: 1px solid #f44336;
  background-color: rgba(244, 67, 54, 0.8);
  background-image: url("../../../public/gameOver.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.board-table-game-over .board-cell {
  opacity: 0.35;
}

span.board-current-score {
  font-family: "Roboto", sans-serif;
  font-size: medium;
  color: #545454;
  margin-top: 1rem;
}
